body {
    background: #aaf8e1 url("images/background.png") no-repeat;
    background-position: center;
    background-size: 30%;
    height: 500px;
    font-family: 'Jua';
    font-size: 25px;
}
title{
    color: #c80;
    font-weight: bold;
}
li a {
    color: green;
}
